<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">

  {{!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">



  <title>{{title}}</title>

</head>

<body>


  {{> _navbar}}
  <div class="container-fluid">
    <div class="row">
      <div class="three columns">
        {{> _sidebar}}
      </div>
      <div class="nine columns">
        <div class="main-view">
          {{{body}}}
        </div>

      </div>
    </div>
  </div>


  {{> _footer}}




  <script src="/reload/reload.js"></script>


</body>

</html>