<form>
    <div class="row form-row">
        <h2>Please sign in</h2>
        <div class="five columns">
            <label for="exampleEmailInput">Username:</label>
            <input class="u-full-width" type="email" placeholder="username" id="exampleEmailInput">
            <label for="exampleMessage">Password:</label>
            <input class="u-full-width" type="email" placeholder="password" id="exampleEmailInput">

            <input class="button-primary" type="submit" value="Submit">
            <hr>
            <a href="/users/signup" class="button"> sign up </a>
        </div>

    </div>

</form>