<div class="notes">
    {{#if note}}
    {{#each note}}
    <div class="note-body">
        <article> {{ stripTags noteBody}}</article>

        <a href="/users/notes/edit/{{id}}" class=" button edit">Edit</a>
        <!--  <form action="/users/notes/delete/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="button button-danger">&times;</button>
        </form>-->
    </div>


    {{/each}}
    {{else}}
    <div class="twelve columns">
        <h2>not available</h2>
    </div>
    {{/if}}
</div>