<div class=" notes">


    {{#if notes}}
    {{#each notes}}
    <div class="button bullets">

        <div class="bullet-container">
            <a href="/users/notes/{{id}}"> {{title}} </a>
            <form action="/users/notes/delete/{{id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="button button-danger">&times;</button>
            </form>
        </div>

    </div>

    {{/each}}
    {{else}}
    <div class="twelve columns">
        <h2>You currently have no notes</h2>
    </div>
    {{/if}}
</div>