<div class="row notes">
    {{#if note}}
    {{#each note}}
    <div class="note-body">
        {{ noteBody}}
    </div>
    <div class="button back">Back</div>
    {{/each}}
    {{else}}
    <div class="twelve columns">
        <h2>not available</h2>
    </div>
    {{/if}}
</div>