<div class="notes">
    {{#if note}}
    {{#each note}}
    <div class="note-body">
        {{ noteBody}}
        <a href="/users/notes/edit/{{id}}" class=" button edit">Edit</a>
    </div>


    {{/each}}
    {{else}}
    <div class="twelve columns">
        <h2>not available</h2>
    </div>
    {{/if}}
</div>