<div class="row notes">


    {{#if notes}}
    {{#each notes}}
    <div class="button note-bullets">
        <a href="/users/notes/{{id}}"> {{title}} </a> <span class="delete">&times;</span>
    </div>

    {{/each}}
    {{else}}
    <div class="twelve columns">
        <h2>You currently have no notes</h2>
    </div>
    {{/if}}
</div>