<form>
    <div class="row form-row">
        <br><br>
        <h2>Please sign up</h2>
        <div class="five columns">
            <label for="fullname">Full Name</label>
            <input class="u-full-width" type="text" placeholder="fullname" id="fullname">
            <label for="username">Username:</label>
            <input class="u-full-width" type="text" placeholder="Username" id="username">
            <label for="exampleEmailInput">Email:</label>
            <input class="u-full-width" type="email" placeholder="user@domain.com" id="email">
            <label for="password">Password</label>
            <input class="u-full-width" type="password" placeholder="password" id="password">
            <label for="password2">Confirm Password</label>
            <input class="u-full-width" type="password" placeholder="confirm password" id="password2">

            <input class="button-primary" type="submit" value="Submit">
            <hr>
            <a href="/users/signin" class="button"> sign in </a>
        </div>

    </div>

</form>