html {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: hidden; */
  margin: inherit;
  padding: inherit;
}

.main-view {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background: url(../images/student.png) no-repeat;
  background-position: bottom right;
  background-attachment: fixed;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

a {
  color: #00b7ff;
}

.row {
  min-height: 100vh;
  display: flex;

}

.welcome-note {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sidebar {
  height: 100%;
  width: 20%;
  background: #d8b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  z-index: -999;
}

/* .display-picture {
  border: 1px solid brown;
  border-radius: 50%;
  width: 100%;
} */
ul {
  width: 100%;
}

li {
  list-style: none;
  background: #d1d0d0;
  width: 100%;
  padding: 1.3rem;
}

#sideTwo {
  height: 100%;
}

.container-fluid {
  max-width: 100%;
  padding: 0 2rem;
}

h1 {
  padding: 1.2rem;
  text-align: center;
  background: #f0f0f0;
}

form {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.footer {
  background: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;

}

.footer-text h5 {
  width: 100%;

}

code {
  text-align: center;
}

/* alerts */
.alert {
  width: 100%;
  margin: .5rem auto;
  padding: 1rem;
  height: auto;
  border-radius: .5rem;


}

.alert.alert-danger {
  background-color: rgb(248, 123, 123);

}