html {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: hidden; */
  margin: inherit;
  padding: inherit;
}

a {
  text-decoration: none;
  color: #000000;
}

.menu-list a,
.bullets a,
.site-name a {
  color: #000000;
}

.navbar {
  width: 100%;
  background-color: #f0f0f0;
  padding: 1.2rem;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.container-fluid {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/student.png) no-repeat;
  background-size: contain;
  background-position: 100% 100%;

}

.sidebar {
  height: 100vh;
  width: 100%;
  background-color: #c7665a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 500ms;
  position: relative;
  z-index: 99;
}

.main-view {
  min-height: 100%;
  overflow-y: hidden;
  width: 80%;
  transition: all 500ms;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-note {
  max-width: 70%;
  margin: auto;
}

.notes {
  max-width: 70%;
  margin: auto;
}

.note-body {
  border: 2px solid;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 6rem;
  position: relative;
  background: palegoldenrod;
  height: 500px;
  overflow-y: scroll;
}

.button.edit {
  position: fixed;
  background: rgb(246, 186, 74);
  right: 6%;
  top: 20%;
}

.button.bullets {
  border: none;
  background: rgb(0, 123, 123);
  border-radius: 0;
  width: auto;
  margin: 1.5rem;
  position: relative;
}

.button.bullets a {
  color: #f0f0f0;
  margin-right: 5rem;
}

.button.bullets>.delete {
  margin-left: 1rem;
  color: rgba(248, 123, 123);
}

.button.bullets>.delete:hover {
  color: #c7665a;
}

.toggle {
  position: fixed;
  left: 2%;
  top: 0;
  padding: 1rem;
  font-size: 3.5rem;
  display: none;
  transition: all 500ms;
}

.toggle.turn {
  transform: rotate(45deg);
}

.sidebar.show {
  margin-left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.sidebar ul {
  list-style: none;
  overflow: hidden;
}

.sidebar ul li:not(:last-child) {
  width: 100%;
  font-size: 1.9rem;
  background-color: #f0f0f0;
  padding: 1rem 1rem;
}

.sidebar ul li:last-child .button {
  background-color: rgba(248, 123, 123);
  border: none;
  border-radius: 0;
  width: 100%;
}

.sidebar img {
  border-radius: 50%;
  margin-top: 4rem;
}

.sidebar .empty-note {
  padding: 2rem;
  color: #f0f0f0;
  font-weight: 800;
}

/* 

@CSS Utils classes
*/
/* alerts */
.alert {
  width: 100%;
  height: auto;
  color: #f0f0f0;
  transition: all 500ms;
}

.alert.alert-danger {
  background-color: rgba(248, 123, 123);
  padding: 0.9rem;
  width: 100%;
  position: fixed;
  top: 12.5%;
  left: 0;
  z-index: -999;
  transition: all 500ms;
}

.alert.alert-success {
  background-color: rgba(54, 199, 143);
  position: fixed;
  padding: 0.9rem;
  width: 100%;
  top: 12.5%;
  left: 0;
}

/* @buttons */
.notes .button {
  border: none;
  border-radius: 0;
}

.button.button-danger {
  background: rgba(248, 123, 123);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

/* @Badges */
.badges {
  font-size: 0.98rem;
  background: grey;
  border-radius: 50%;
  padding: 0.5rem;
  color: #f0f0f0;
}

/* @add Button */
.add {
  font-size: 3rem;
  position: fixed;
  right: 5%;
  bottom: 5%;
  background: #0d0d0d;
  padding: 1rem;
  width: 50px;
  height: 50px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 100%;
  z-index: 999;
}

/* mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .main-view {}
}

@media (max-width: 768px) {
  .container-fluid {
    background-size: cover;
    background-position: center;
  }

  .main-view {
    width: 100%;
  }

  .sidebar {
    margin-left: -90rem;
  }

  .toggle {
    display: block;
  }
}

/* Larger than Phablet */
@media (max-width: 550px) {
  .main-view {}

  form {
    width: 50%;
    margin: auto;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .main-view {
    width: 100%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .main-view {}
}

/* Larger than desktop HD */
@media (min-width: 1200px) {
  .main-view {}
}