html {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: hidden; */
  margin: inherit;
  padding: inherit;
}

.navbar {
  width: 100%;
  background-color: #f0f0f0;
  padding: 1.2rem;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.container-fluid {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/student.png) no-repeat;
  background-size: contain;
  background-position: 100% 100%;
}

.sidebar {
  height: 100vh;
  width: 100%;

  background-color: #c7665a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 500ms;
}

.main-view {
  min-height: 100%;
  overflow-y: hidden;
  width: 80%;
  transition: all 500ms;
}

.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-note {
  max-width: 70%;
  margin: auto;
}

.notes {
  max-width: 70%;
  margin: auto;
}

.button {
  border-radius: none;

}

.button.note-bullets {
  border: none;
  background: rgb(0, 123, 123);
  color: #f0f0f0;
  border-radius: 0;
}

.button.note-bullets>.delete {
  margin-left: 1rem;
}

.toggle {
  position: fixed;
  left: 2%;
  padding: 1rem;
  font-size: 2rem;
  display: none;
}

.sidebar.show {
  margin-left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.sidebar ul {
  list-style: none;
  overflow: hidden;
}

.sidebar ul li:not(:last-child) {
  width: 100%;
  font-size: 1.9rem;
  background-color: #f0f0f0;
  padding: 1rem 1rem;
}

.sidebar ul li:last-child .button {
  background-color: rgba(248, 123, 123);
  border: none;
  border-radius: 0;
  width: 100%;

}

.sidebar img {
  border-radius: 50%;
  margin-top: 4rem;
}

.sidebar .empty-note {
  padding: 2rem;
  color: #f0f0f0;
  font-weight: 800;
}





/* 

@CSS Utils classes
*/
/* alerts */
.alert {
  width: 100%;
  height: auto;
  color: #f0f0f0;
  transition: all 500ms;
}

.alert.alert-danger {
  background-color: rgba(248, 123, 123);
  padding: .9rem;
  width: 100%;
  position: fixed;
  top: 12.5%;
  left: 0;
  z-index: -999;
  transition: all 500ms;

}

.alert.alert-success {
  background-color: rgba(54, 199, 143);
  position: fixed;
  padding: .9rem;
  width: 100%;
  top: 12.5%;
  left: 0;

}

/* @Badges */
.badges {
  font-size: .98rem;
  background: grey;
  border-radius: 50%;
  padding: .5rem;
  color: #f0f0f0;
}

/* mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .main-view {}
}

@media(max-width:768px) {
  .container-fluid {
    background-size: cover;
    background-position: center;
  }

  .main-view {
    width: 100%;
  }

  .sidebar {
    margin-left: -90rem;
  }

  .toggle {
    display: block;
  }
}



/* Larger than Phablet */
@media (max-width: 550px) {
  .main-view {}

  form {
    width: 50%;
    margin: auto;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  .main-view {

    width: 100%;
  }



}

/* Larger than desktop */
@media (min-width:1000px) {
  .main-view {}
}

/* Larger than desktop HD */
@media (min-width:1200px) {
  .main-view {}


}